body {
  color: rgb(var(--foreground-rgb));
  background: #171717 !important;
}

* {
  font-family: 'Roboto', sans-serif;
}

.navigation-item {
  color: #ffffffbb !important;
}

.navigation-item.active {
  color: #ffffff !important;
}

.navigation-item.active:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.navigation-item.active::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}

@keyframes moveDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 30px;
  }
}

.down-arrow {
  animation: moveDown 1.5s infinite;
}

li {
  margin-left: 30px;
  list-style-type: disc;
}

a {
  color: #CCCCCC !important;
}

a:hover {
  text-decoration: underline;
}